[2017-07-18 10:18] Vyrwn opened #1 "Installation"
Hi Mahmoud,

first of all, thank you very much for developing this, as it has been a missing component from GH. I just want to ask you about the installation process. Is it a simple copy of the gha into the libraries folder?

The component is visible in my tooldbar, but whenever I try to run any code, the process freezes and Rhino crashes.

Any advise will be much appreciated.

I have several pyth

[2017-07-18 10:51] jkweon commented on #1
How are you, Mahmoud?

I experienced the same issue. Please let us know how to properly install and run the component.

Thanks in advance.
Jihoon

[2017-07-18 20:05] MahmoudAbdelRahman commented on #1
Hi @Vyrwn . Hi @jkweon ,

Thanks so much for your feedback,

1. Would you please confirm that you open Rhino as administrator?
2. Also, you have to make sure that Python is installed and running properly on your machine, to do this, open a new command prompt and type `python`. A python shell will open as follows:
![pythonshell](https://user-images.githubusercontent.com/6969514/28336761-79ae9a94-6c

[2017-07-18 22:06] jkweon commented on #1
Hi Mahmoud AbdelRahman,

Thanks for your email.

It works fine now. The issue is administrator privilege.
You are right. Rhino must be run as an administrator.

This is an awesome development opening a lot of potentials.

Thanks and congratulation!

Jihoon

On Wed, Jul 19, 2017 at 5:05 AM, Mahmoud AbdelRahman <
notifications@github.com> wrote:

[2017-07-18 23:00] MahmoudAbdelRahman commented on #1
Hi Jinoon,
This is great!
Thanks so much.

[2017-07-19 07:43] jkweon opened #2 "Input and output variables"
Thanks for this valuable development.

Please note the error shown on the following image.

Can the component accept input? How can I use input part with text, number, geometry and so on? Please note the error message on the python test window.

![20170719 001](https://user-images.githubusercontent.com/859448/28355909-f7ac5592-6ca0-11e7-88d4-05a6adb1ea39.jpg)

I also found output variable did not

[2017-07-20 23:02] MahmoudAbdelRahman commented on #2
Hi Jihoon,
Thanks so much for your feedback,
I have been working on this problem all the day, finally I've come up with some solutions. Although it requires more work to get rid of some bugs, **I have connected the inputs with the script**.
![workingonproblem](https://user-images.githubusercontent.com/6969514/28442262-cadcc67c-6daf-11e7-9f1e-896e2e3ebd24.JPG)
I'm now working on the outputs.
Sincer

[2017-07-21 02:35] #1 closed

[2017-07-21 09:03] jkweon commented on #2
That is a good improvement. Thank you, Mahmoud. I am looking foward to your output improvement.

I have one more suggestion. Is it possible for the componemt to import rhincommon libraries?  Python for. NET might be one way for achieving it, but I am not sure. I don't know if you already done this. It will be a way to go for the use of all existing resources from Rhino.

Thank you very much.

Jiho

[2017-07-25 01:48] jkweon opened #3 "GH_CPython does not save codes."
Dear Mahmoud,

GH_CPython does not save codes. I know you already fixed bugs in the input parts. Bugs in saving codes also need your care.

Thanks.
Jihoon

[2017-07-26 22:47] mostaphaRoudsari opened #4 "New inputs are named c instead of z"
This is not a bug but is more of an enhancement.

![image](https://user-images.githubusercontent.com/2915573/28647014-a61680ee-7232-11e7-96ef-492b34e766fc.png)

When I add a new input I expect it follows the x, y, z order but it names the new input as c.

[2017-07-26 22:54] mostaphaRoudsari opened #5 "Input access type"
Currently the input access is set to list and doesn't seem to be possible to change it.

[2017-07-27 02:19] MahmoudAbdelRahman commented on #3
Thanks so much Jihoon for your feedback,
Yes, you are right, I'm working on this right now.

[2017-07-27 02:25] MahmoudAbdelRahman commented on #4
Hi @mostaphaRoudsari,
Thanks so much, I'm very pleased to receive your feedback,
I have solved this problem and changed the first _input name and output_ name and now they follow the normal order x, y, z ..
![xyzinsteedofxyd](https://user-images.githubusercontent.com/6969514/28651657-681be15c-7283-11e7-8c40-35892a7c0242.JPG)
![gowentgone](https://user-images.githubusercontent.com/6969514/28651701-

[2017-07-27 02:33] MahmoudAbdelRahman commented on #5
Thanks so much @mostaphaRoudsari for your feedback,

I have solved this problem, now it is able to handle item dataAccess in addition to list dataAccess.
I'm now working on linking the output, in addition to text highlighting, saving data and I'll pay more attention to merging IronPython with Cpython following your note.
Thanks so much.
![datatypes](https://user-images.githubusercontent.com/696951

[2017-07-27 05:00] mostaphaRoudsari commented on #5
Hi @MahmoudAbdelRahman, Great! I used the GHA component from the root folder. Where can I update the latest GHA file?

Also handling both IronPython and CPython in the same component is not really critical. I think it would be easier if you concentrate on one and get it fully to work before introducing a new problem.

I'm closing this issue as it has been addressed already.

[2017-07-27 05:00] #5 closed

[2017-07-27 05:01] mostaphaRoudsari commented on #4
Perfect! Thanks.

[2017-07-27 05:01] #4 closed

[2017-07-27 05:22] MahmoudAbdelRahman commented on #5
Hi @mostaphaRoudsari,
Thanks so much. Yes, I upload the updated GHA files to the [root folder](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.gha), and [.\bin\ folder](https://github.com/MahmoudAbdelRahman/GH_CPython/tree/master/GH_CPython/GH_CPython/bin) as well. I agree with you, I'll concentrate on finishing this component at first.
Thanks so much.

[2017-07-27 05:35] MahmoudAbdelRahman commented on #2
@jkweon
Hi Jihoon,
Thanks so much I have added some improvements to the inputs, I'm working now on the output as well as saving data. I'll try to handle RhinoCommon or .Net as possible, I think there is a way to do this. I'll give it a try.
Regarding Colors, yes, I've just noticed that copying GHPython code changes colors, I'm going to improve the whole highlight and autocomplete system using ICSh

[2017-07-30 20:35] MahmoudAbdelRahman commented on #2
Now, output can be handled,yet,  some bugs needs to be fixed.
![gowentgone2](https://user-images.githubusercontent.com/6969514/28756877-605a2414-7577-11e7-84e8-f573ad835079.JPG)

[2017-07-30 21:01] #2 closed

[2017-08-01 07:36] MahmoudAbdelRahman commented on #3
Finally, I've solved this problem,
Thanks so much Jihoon for your useful feedback.
![firstplugin](https://user-images.githubusercontent.com/6969514/28814200-f18c117e-769c-11e7-80e7-6623d794e757.JPG)

[2017-08-01 09:59] jkweon commented on #3
Thank you for the update. It works now. This will be powerful contribution to everybody using Python and Rhino.

GH_CPython saves scripts and makes output as a string.  If my understanding is correct, sting output seems to be the current phase of your intention.

I guess you are also interested in taking care of Rhinocommon geometries such as point, line, curve, mesh, and brep surface. I hope to s

[2017-08-01 10:14] MahmoudAbdelRahman commented on #3
Thanks so much Jihoon,
Yes, you are right, I'll be working on RhinoCommon in the upcoming updates.
Sincere regards.
Mahmoud abdlelrahman

[2017-08-01 10:15] #3 closed

[2017-08-04 05:34] MahmoudAbdelRahman opened #6 "New Features Added"
### New Features have been added including:
1. Creating user objects
2. Adding documentation to each input and output
![features](https://user-images.githubusercontent.com/6969514/28955437-1cb539d8-78e7-11e7-8070-66775aedfc91.jpg)

[2017-08-04 07:24] jkweon opened #7 "input parameter and editing window issue"
Dear Mahmoud,

Adding input parameter such as 'x' without assigning data to it makes me unable to open the editing window of GH_CPython. I am not sure if it is a kind of bug or another issue.

Best regards,

Jihoon

[2017-08-04 08:05] MahmoudAbdelRahman commented on #7
Hi Jihoon,
Yes, You are right,
I've solved the problem, would you test it ?
https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.gha

Thanks so much.

[2017-08-07 01:51] #7 closed

[2017-08-07 14:50] Alliages opened #9 "New feature : Line number"
Really great job !
I think it would be good if we had line numbering.

[2017-08-07 14:54] Alliages opened #10 "Copy paste from Notepad++"
i've got a small bug when i copy paste from notepad++

![_c__users_g meunier_google drive_github_ecosphere_gh_pymap3d_basic py - notepad _2017-08-07_16-51-18](https://user-images.githubusercontent.com/9363988/29032133-aefe7984-7b90-11e7-980c-cc3c14bdabdc.png)

it's pasted with too many spaces

![gh_cpython_2017-08-07_16-56-56](https://user-images.githubusercontent.com/9363988/29032375-73cab80e-7b9

[2017-08-07 15:58] MahmoudAbdelRahman commented on #9
Thanks so much Alliages for your feedback,
I have just added this feature now, you can download it from this link:
https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.rar
Then copy Gh_CPython and FastColoredTextBox.dll into the plugins folder e.g (C:\Users\gamma\AppData\Roaming\Grasshopper\Libraries)

**I'm working on the syntax highlight now.**

![feedback](https://user-images

[2017-08-07 16:03] MahmoudAbdelRahman commented on #10
Hi @Alliages,
Thanks so much for the feedback,
I have solved this problem in the latest update :
https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.rar

You have to copy the files Gh_CPython as well as FastColoredTextBox.dll into grasshopper libraries folder
![feedback](https://user-images.githubusercontent.com/6969514/29035052-98c5b196-7b9a-11e7-8c2e-4b1682291a69.JPG)

[2017-08-08 02:17] TheodoreGalanos opened #11 "Request: Python 3 support"
Hi Mahmoud,

Thanks for the amazing progress! I was wondering if it is possible to add as a future goal Python 3 support.

This is not that critical since the workflows are still completely fine, but I feel a lot of DL libraries are moving to Python 3 support (only?) slowly.

Kind regards,
Theodore.

[2017-08-08 02:52] MahmoudAbdelRahman commented on #11
Hi Theodore,
This would be  a great idea,
I think the current version roughly supports Python 3 if it is the only version installed on machine. I haven't tried it yet.
Thanks so much.
Sincere regards,
Mahmoud Abdelrahman.

[2017-08-08 14:50] #9 closed

[2017-08-08 14:50] #10 closed

[2017-08-09 01:28] jkweon opened #12 "Rhino crashes in case block comment is removed from script windows."
How are you, Mahmoud?

From my testing of GH_CPython, Rhino crashed in case block comment part (""" ... """) was removed from script windows. I am not sure if it happens only at my computer.

regards,

Jihoon

[2017-08-09 01:39] jkweon opened #13 "In case an input variable is not assigned, the component does not run."
Dear Mahmoud,

Thank you for the updated GH_CPython.

In case an input variable is not assigned, the component does not run. Even though this is not an urgent issue, sometimes we need to test before assigning all input variables.

regards,

Jihoon

[2017-08-09 15:31] MahmoudAbdelRahman commented on #12
Hi Jihoon,
I'm fine thanks , how are you?
Thanks so much for the feedback , Yes it happens to me as well. I'm working on this right now.

Regards,
Mahmoud Abdelrahman.

[2017-08-09 15:34] MahmoudAbdelRahman commented on #13
Hi Jihoon,
Thanks so much, I'll modify it and upload the file again.
Regards,
Mahmoud Abdelrahman

[2017-08-09 19:47] MahmoudAbdelRahman commented on #12
Hi Jihoon,
I have modified it a little bit, Except for the first input, all other inputs are set optional, but I think it would be better to make them dynamically set. for example:
* in the description of each input:
    _input_: optional - the description .... etc.
   _input2: required - the description ... etc.

![picture1](https://user-images.githubusercontent.com/6969514/29140753-db2d8614-7d4b

[2017-08-09 20:03] MahmoudAbdelRahman commented on #13
Hi Jihoon,
Now, this problem has been roughly solved, Except for the first input, I have set all other inputs to be optional.

**I think it could be dynamically set for example:**
In the description of the inputs :
    _input1: required - the description of input 1 is ... etc.
    _input2: optional - the description of input 2 is ... .etc.

![picture1](https://user-images.githubusercontent.com/696

[2017-08-10 00:10] #12 closed

[2017-08-10 00:11] jkweon commented on #13
Thank you for the update.

[2017-08-10 00:11] #13 closed

[2017-08-10 18:17] MahmoudAbdelRahman commented on #6
Add description, documentation to each input and output
![documentations](https://user-images.githubusercontent.com/6969514/29185199-d42dca46-7e08-11e7-89be-1e78e05fe14d.jpg)

[2017-08-12 20:56] MahmoudAbdelRahman commented on #11
Hi @TheodoreGalanos,
I have added a new feature, that is, choosing Python interpreter whether : Python27, Python34, Python35 ... and so on. by clicking on the blue line at the bottom of any component.
![image](https://user-images.githubusercontent.com/6969514/29244139-5b7eebd4-7fb1-11e7-9d4d-43b9f6fdfe67.png)

[2017-08-13 09:19] #11 closed

[2017-08-13 09:55] #6 closed

[2017-08-17 14:27] dantaeyoung opened #14 "Accessing GH file location in GH_CPython?"
Hi @MahmoudAbdelRahman , thanks for such a wonderful project - really excited to have 'real' Python in Grasshopper.

Is there a good way to access the GH file location from within GH_CPython?

I'd like to write some Python in the same directory as the .gh file and import those files. However, `os.path.dirname(os.path.realpath(__file__))` is returning `C:\Gh_CPython`.

Thanks!

[2017-08-17 14:31] dantaeyoung opened #15 "Keyboard shortcut for Test"
Feature request: Do you think you could implement the 'F5' keyboard shortcut for testing that's in GHPython already? It's a very helpful feature that can make the editor feel a bit more like a REPL.

Thank you!!

[2017-08-17 17:16] MahmoudAbdelRahman commented on #15
Hi @dantaeyoung,
Thanks so much for your note,
I have just added this feature now , you can download the updated version [here](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip)

I'm still working on the other issue.
Thanks so much.
Regards,
Mahmoud Abdelrahman

[2017-08-17 17:26] MahmoudAbdelRahman commented on #14
Hi @dantaeyoung ,
Thanks so much for the feedback, I'm glad that you like it.

`C:\GH_CPython` is the default path where temporary python files are saved.
Should I add a `save as` and `open` options to GH_CPython to specify custom path or do you have other recommendation?
I think it is time to start working on a Grasshopper and Rhino modules for GH_CPython to make the best of their features.

Than

[2017-08-18 01:29] dantaeyoung commented on #15
@MahmoudAbdelRahman Thank you so much!! This works perfectly.

[2017-08-18 01:29] #15 closed

[2017-08-18 06:44] dantaeyoung commented on #14
Ah hmm. My use case isn't saving temporary python files, but creating custom modules.

For example, if I may want to create a small helper module called `helpers.py` in the same directory as my `.ghx` file, so I can import and call from my GH_CPython module, keeping my code neat.  It would be convenient to have the directory path exposed from GH_CPython so I can do add it to the sys.path -- this w

[2017-08-18 06:47] dantaeyoung opened #16 "Strange error on parameter output"
I'm getting a strange error when returning a very specific value: "Line(3)" as an output.

My code is:
[code]
![screenshot](http://imgur.com/91ZsA2H.jpg)

Any ideas? Thank you, @MahmoudAbdelRahman !

[2017-08-20 03:24] MahmoudAbdelRahman commented on #16
Hi @dantaeyoung,
Thanks so much for the feedback,
Yes, this problem occurs because I'm now trying to add Grasshopper library. so if you set the output to be for example `output_ = "Line(ax, ay, az, bx, by, bz)"` it will add a new line with these parameters.
#### I've changed this code a little bit to be as follows:
 `output_ = "gCPy.Line(ax, ay, az, bx, by, bz)"`, I don't know if it is a good prac

[2017-08-22 03:05] MahmoudAbdelRahman commented on #16
Hi @dantaeyoung ,
You can download the modified version [from here](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip), You will notice a new file called `Grasshopper.py` at `C:\GH_CPython\`.

**This is example of what it could do**

![image](https://user-images.githubusercontent.com/6969514/29546917-4360cd9a-86f7-11e7-9e45-8b3c06487bfb.png)

Sincere regards
**Mahmoud Abd

[2017-08-22 03:38] MahmoudAbdelRahman commented on #14
Thanks so much @dantaeyoung for this useful feedback.

I'll start working on this problem now, and give you the results as soon as possible.

Regards,
Mahmoud Abdelrahman.

[2017-08-22 13:57] #16 closed

[2017-08-23 04:02] MahmoudAbdelRahman commented on #14
Hi @dantaeyoung ,
I have added these two features,
`Grasshopper.doc.DisplayName`
`Grasshopper.doc.FilePath`

[Available Here](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip)

for example:
[code]
![image](https://user-images.githubusercontent.com/6969514/29598230-e386e734-87c7-11e7-985c-cb459b17877d.png)

[2017-08-24 02:35] MahmoudAbdelRahman commented on #14
I noticed that the previous solution wasn't good so, I have modified the code as follows:
Use `ghenv.fileName` to get file name,
and `ghenv.filePath` to get file path if saved.

![image](https://user-images.githubusercontent.com/6969514/29646745-8d629a1a-8885-11e7-9444-6ac8c5945cfc.png)

[2017-08-24 19:35] dantaeyoung commented on #14
Wow, thank you! this works wonderfully.

[2017-08-24 19:35] #14 closed

[2017-08-24 19:35] dantaeyoung commented on #16
Thanks for this @MahmoudAbdelRahman !

Question/suggestion: would it be better/easier to implement [Rhinoscriptsyntax](https://github.com/mcneel/rhinoscriptsyntax)? That way it's guaranteed that GH_CPython gh implementation can follow that of GH_Python, rather than having to recreate all GH functions and potentially introducing a layer of bugs/maintenance..

[2017-08-24 19:49] dantaeyoung opened #17 "Strange error on parameter *input*"
Hi @MahmoudAbdelRahman! I'm here with another error. Thanks for being so open to feedback!

I'm trying to receive strings and multi-line strings as inputs, but am getting a curious error. My use-case is to input a multi-line string into GH_CPython and to have it in a variable as a multi-line string, but GH_CPython seems to be doing some internal stuff that affects how things are being processed.

[2017-08-24 20:07] MahmoudAbdelRahman commented on #17
Hi @dantaeyoung ,
Thanks for the feedback ,
[Here you are, ](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip)
![image](https://user-images.githubusercontent.com/6969514/29686254-918a0c5c-8918-11e7-93ad-be3f313d4b53.png)

[2017-08-24 20:10] MahmoudAbdelRahman commented on #14
Thanks so much!.

[2017-08-24 20:21] MahmoudAbdelRahman commented on #16
Hi @dantaeyoung ,
Yes, I totally agree with you, I'm trying to find a way to do this.
Thanks so much.

[2017-08-24 20:22] dantaeyoung commented on #17
Wow amazing! This works great - thanks for the quick fix! @MahmoudAbdelRahman

[2017-08-24 20:22] #17 closed

[2017-08-26 08:46] MahmoudAbdelRahman opened #18 "New Features"
### Controlling inputs' data access
![dataa access](https://user-images.githubusercontent.com/6969514/29739955-b2c92644-8a4b-11e7-93ac-a65dfe95810a.jpg)

[2017-08-29 13:40] SpencerMAQ opened #19 "Plugin not working"
Hi Mahmoud,

I have some problems with the component, I did as instructed in the wiki; placing the `.gha` and the `.dll` inside `./Libraries`. I also ran Rhino as admin. The component appears on my component tab but it won't run anything. Also, File>Open and Save as doesn't open a window.

Clicking test only updates the 'successful in _ ...' part.

I've tried `Py 2.7, 3.5 and 3.6`. Could you help

[2017-08-29 14:55] MahmoudAbdelRahman commented on #19
@SpencerMAQ
Hi Micheal,
Thanks so much for your feedback, I'm trying to figure out what is the problem?

- Would you please check if a new folder in the `C:\` partition called `C:\GH_CPython\` has been created?
- May be the problem is that it is not the [latest update of the plugin](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip) ?
- When you change the python version

[2017-08-29 15:00] MahmoudAbdelRahman commented on #18
[updated !!](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip)
![image](https://user-images.githubusercontent.com/6969514/29827887-7b8b0a98-8cdb-11e7-9b8a-1d92a3fb4cab.png)

[2017-08-29 15:09] SpencerMAQ commented on #19
Thanks for the quick reply.

Yes, it did create the folder on `C:\`.

I reinstalled from the [link](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip) to ensure that I have the latest version but it still won't work.

Yes, the interpreter was saved
![3](https://user-images.githubusercontent.com/25006084/29828277-d7668c56-8d0e-11e7-82f9-682a31d922c2.JPG)

I'm off to sleep

[2017-08-30 04:46] MahmoudAbdelRahman commented on #19
Hi Spencer,

I think I have solved this problem, would you please try it ?
https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip

Thanks so much.
Regards,
Mahmoud

[2017-08-30 06:43] SpencerMAQ commented on #19
Indeed, it fix fix the problem. Thanks you.
I had to plug in something into the input though before the component ran but I guess this is a minor issue.

![screenshot 3](https://user-images.githubusercontent.com/25006084/29858709-4ad3e756-8d91-11e7-967b-56c765a42771.png)
One last thing. I tried installing it on my laptop and this appeared. It's not much of a problem since I don't use my laptop ver

[2017-08-30 06:49] MahmoudAbdelRahman commented on #19
Hi Spencer,
This is great!. Thanks so much.
Have you copied the file : `FastColoredTextBox.dll` into Grasshopper libraries' folder on your labtop?

Regards,
Mahmoud

[2017-08-30 07:02] SpencerMAQ commented on #19
Yes, both the `dll` and `gha` were copied. I also ran it as admin.

Regards,
Spencer

[2017-09-03 16:21] MahmoudAbdelRahman commented on #18
Basic communication with Rhino
![image](https://user-images.githubusercontent.com/6969514/30004276-7e8fd47c-90cc-11e7-9251-5eafbcc74b5c.png)

[2017-09-09 16:42] Costin-M-Leonte opened #20 "last line: "print __name__""
Hello Mahmoud!
You forgot the paranthesis in the print statement in the last line ;p the Grasshopper ( 02 ? ) module can't be imported.
Outstanding initiative, by the way! Thank you so much! I'll try to catch up with the know-how and maybe help in the near future :D

![image](https://user-images.githubusercontent.com/18078210/30242011-ff8e7f32-9596-11e7-9bf0-25e3c6f1caca.png)

edit: same for line

[2017-09-09 18:44] MahmoudAbdelRahman commented on #20
Hello @Costin,
Thanks so much for the constructive feedback,
I have modified it and uploaded it [here](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip)
`Grasshopper02` is the modified version of Grasshopper, I'm still working on it , but as it is not ready yet, so I've given it prefix (02), it should include the `RhinoScriptSyntax` main geometry objects.

I'll be very g

[2017-09-10 14:01] Costin-M-Leonte opened #21 "Tree input data structure not parsing corectly for PythonFileWritten.py"
Hello again! :D

I've been trying to understand the whole source code more, for a more useful feedback, but I can't seem to find how is the "C:\GH_CPython\PythonFileWritten.py" temporary file getting its input data, and more importantly, how is that input data parsed.

Maybe I have something outdated, not sure, but this is what I'm getting for each data acces type, in 2 different cases:

1 ) when

[2017-09-11 10:12] MahmoudAbdelRahman commented on #21
Hi @Costin-M-Leonte ,
Thanks so much for this detailed feedback, this is very useful. I'll start working on it.

---
In `C#`, the file `"C:\GH_CPython\PythonFileWritten.py"` is supposed to be created at `protected override void SolveInstance(IGH_DataAccess DA)` method starting at line 555, Then the python process is started:
[code]
Each `PythonFileWritten.py` includes a footer that writes the outp

[2017-09-12 19:27] MahmoudAbdelRahman commented on #21
Hi @Costin-M-Leonte,
I have modified it a little bit [Here](https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip), converting Tree to list still needs some work, I'll spend more time on it, I think that I'm gonna rewrite that part again.
Thanks so much for the feedback.
![eerr](https://user-images.githubusercontent.com/6969514/30344313-0f28ab4a-9801-11e7-8a38-c71985d8298e.jp

[2017-09-12 19:46] #20 closed

[2017-09-15 12:26] #18 closed

[2017-10-18 22:49] Alliages opened #22 "Cpython input precision"
hi!
there is some kind of bug in the input precision.
here is an example with PI
<img width="713" alt="2017-10-19 00_25_35-gh_cpython" src="https://user-images.githubusercontent.com/9363988/31746178-5e262afc-b466-11e7-9cde-171ca0e8484f.png">
you can have more precision when you import string in Cpython than a simple number (the string here is before converted with a basic python script)
<img width

[2017-10-18 23:25] Alliages opened #23 "output as datatree"
i don't know how to output a datatree.
Right now i'm using a second python script with the raggedListToDataTree function (https://gist.github.com/notionparallax/5433271)
Is there a better way?

[2017-10-19 14:10] MahmoudAbdelRahman commented on #22
Hi @Alliages,
Thanks so much for this feedback. Yes, you are right, I'll try fixing it and upload it again .
Regards,
Mahmoud

[2017-10-19 14:12] MahmoudAbdelRahman commented on #23
Hi @Alliages,
I'm supposed to modify datatree in GH_CPython, I'll start doing it and I'll infrom you as soon as possible,
I'll appreciate it if you give me an example.
Best regards,
Mahmoud.

[2017-10-19 16:08] Alliages commented on #23
here is an example

[error.zip](https://github.com/MahmoudAbdelRahman/GH_CPython/files/1399119/error.zip)

[2017-10-19 16:36] MahmoudAbdelRahman commented on #23
Thanks so much, now everything is clear,
I'll add this feature as soon as I can .
Best regards,
Mahmoud

[2017-11-03 09:06] TheodoreGalanos commented on #11
This is amazing Mahmoud, thanks!

[2017-11-05 09:10] strdesigner opened #25 "How can I use "ghenv.Component" ?"
Hi!
I want to get iterative outputs by using "ghenv.Component.ExpireSolution(True)" as follows:

http://www.grasshopper3d.com/forum/topics/loops-in-gh-python   (py_loop.gh)

In GH_Python, such script would walk fine and outputs are recomputed in each iterations.
However, In GH_CPython, I recieved this message: AttributeError: 'fileInfo' object has no attribute 'Component'

Is it possible to use "g

[2017-11-28 15:32] varoudis commented on #23
How do you work with Lists btw?
the output seems to be a string with [] like "[0,1,2,3]"

[2017-11-28 20:59] MahmoudAbdelRahman commented on #25
Hi @strdesigner,
Thanks so much for the feedback,
This feature is not available at the moment yet, but I'll try to make it work.

Best regards,
Mahmoud.

[2017-11-28 21:00] MahmoudAbdelRahman commented on #23
@varoudis ,

I have modified it to work with lists,
you can check it out via this link:
https://github.com/MahmoudAbdelRahman/GH_CPython/blob/master/GH_CPython.zip

Best regards,
Mahmoud

[2018-01-15 18:15] varoudis opened #26 "c:/GH_CPython on shared/lab environments - not working"
Hi,

Do you think you can compile and release a version where the 'temp' interpreter files are not on C: but on a "USER"\Desktop\GH_CPython?

On windows lab servers writing on C: or even having separate 'virtual' folder directly on C is not going to work.
If you change the path to be inside the USERS personal folder it would be amazing.

Thanks

[2018-01-15 18:34] MahmoudAbdelRahman commented on #26
Hi @varoudis,
Great idea! , I may also make it optional to specify the working directory. Thanks a lot.

Best regards,
Mahmoud.

[2018-01-15 19:08] varoudis commented on #26
@MahmoudAbdelRahman thanks for the quick reply. Without pushing or anything.
Do you have an ETA for this? Im using this for teaching and I want to see if I need to find an alternative solution until then.
Classroom PCs are all on a main roaming server.

Thanks

[2018-01-15 19:59] MahmoudAbdelRahman commented on #26
Hi @varoudis,
Yes, I think it is easy and straight forward, I'll set the path to the desktop rather than `C:\GH_CPython\`:
`path = Environment.GetFolderPath(Environment.SpecialFolder.Desktop);`

[2018-01-17 11:43] MahmoudAbdelRahman commented on #26
Thanks so much Tasos,
Would you please try this one ? It works fine with me and it writes to the desktop now.

[GH_CPython.zip](https://github.com/MahmoudAbdelRahman/GH_CPython/files/1638788/GH_CPython.zip)

Best regards,
Mahmoud AbdelRahman

[2018-01-17 16:20] varoudis commented on #26
thanks!! this works on shared windows server environments.
Just tested it

[2018-01-17 16:20] #26 closed

[2018-02-02 03:30] bendnorman opened #27 "node in code functionality"
Hello!

I am wondering it GH_CPython as a "node in code" functionality like GH_Python does (https://stevebaer.wordpress.com/2013/12/11/ghpython-node-in-code/)

GH_CPython is able to run a module I am working with and I am hoping to be able to call firefly components in a script.

Thanks!

[2018-02-02 07:56] MahmoudAbdelRahman commented on #27
Hi @bendnorman,
Unfortunately, this feature doesn't exist yet in GH_CPython, but it is a good idea to work on.
Thanks so much.

Best regards,
Mahmoud

[2018-02-15 10:42] XiaomingY opened #28 "Problem to output string array"
Just got a problem to output string array. Each single array is in single quotes.
test become 'test'.
I also have a problem to output "[" in a string array. It just disappeared. "{" and "(" works but not "[".
Any suggestions?

[2018-02-26 11:36] deKlerk opened #29 "Output splits strings with commas"
Dear Mahmoud,

Congratulations on making this component!
However, I have come across a problem when outputing strings: they are split at the commas. (image below)

Do you know what is happening here?

![gh_cpython_string_error](https://user-images.githubusercontent.com/12461528/36668390-1418f176-1ae9-11e8-8569-780827589f98.png)

All the best,

Rui

[2018-03-11 18:03] MahmoudAbdelRahman commented on #29
Hi Rui,
Thanks so much for this useful feedback. There are some problems while dealing with lists and trees. I'll work hard to finish these problems as soon as possible.
Thanks so much.
Best regards,
Mahmoud AbdelRahman

[2018-03-22 16:38] deKlerk commented on #29
Hi Mahmoud,

Thanks for the hard work.
I'll be looking forward for the next update!
Best regards,

Rui

[2018-05-20 03:45] yudaiAAA commented on #19
Hi Mahmoud, Spencer
I am a student majoring Architecture.
I have same problem about this
![capture](https://user-images.githubusercontent.com/34510874/40275505-90a75312-5c2b-11e8-96f6-a16a0f09469b.PNG)

My laptop have Python 3.6 and 2.7
I have already installed dll and gha files into libraries' folder

Could you give me some advise??

thank you
Regards
Yudai

[2018-05-21 20:45] dantaeyoung commented on #19
@yudaiAAA @SpencerMAQ Have you all [unblocked the DLL](https://blogs.msdn.microsoft.com/delay/p/unblockingdownloadedfile/)?

[2018-07-10 07:59] akaflokart opened #30 "Item and Tree input creates a tree output for the Item input"
Great work,
i try to create a exelsheet manipulator with pandas etc. at it works.
The only problem is the input and output of your cpython node.
Input:
Tree with branches
Item with one string
Output
Tree with branches
Tree with branches Item in each branch
If i print the input everything looks fine and its seams not possible to change the output to item because the manage data ouptput in your cpyt

[2018-07-23 01:48] arch-chen opened #31 "Problem no encoding declared"
Hello!
when i restart the grasshopper,it always has the problem:
 File "C:\GH_CPython\PythonFileWritten_1.py", line 1
SyntaxError: Non-ASCII character '\xe2' in file C:\GH_CPython\PythonFileWritten_1.py on line 1, but no encoding declared
However,# -*- coding: utf-8 -*- has been in line1
Thanks!

[2018-11-01 19:27] Aban6 opened #32 "ModuleNotFoundError: No module named 'numpy'"
Hi,
Thank you very much for this awesome work!
I have installed Anaconda on my computer and launched Rhino as Administrator. When I try to import numpy, CPython shows an error not fiding 'numpy'.
I'd appreciate if you could help me here.
Thank you

[2018-12-05 16:24] XiaomingY opened #33 "Is it possible to input a numpy matrix?"
Hi,

Is it possible to input a numpy matrix and use numpy.asmatrix to cast input as numpy matrix? What I am trying to do it use one CPython component to read a big binary file as matrix then use the second CPython component to get information out of the matrix. By using two component, i think I could avoid the slow process of reading the file every time a variable changes.

Another question is how

[2019-01-23 09:53] Piebekoster opened #34 "Send Dataframe from one component to another"
Hi there!

I am running Pandas to read an .xlsx file into GH_CPython. As this process is quite slow, I want to do it once and then send the imported Dataframe to other GH_CPython components. However, everytime I connect the output with the input, it crashes.

I  have tried 'hiding' the Dataframe in a class. The program doesn't crash, but it doesn't see the Dataframe either.

Is there any way I can

[2019-03-14 17:34] DambronOlivier commented on #23
hi @MahmoudAbdelRahman
I haven't been able to output as a datatree either. any indications on this one?

thanks

[2019-04-02 10:06] CharlesFr commented on #29
A fix for this would be great, can you also point out the best way to output vectors?

[2019-05-11 06:22] hat600 commented on #31
i have the same bug.

it is in THAT .py, not your python code.
the coding declaration in THAT .py is in line 2, and this makes problem

[2019-10-25 14:56] solub opened #35 "Is GH_CPython compatible with Rhino 6 ?"
Hi @MahmoudAbdelRahman ,

Thank you for this pluggin.

One question, is it compatible with Rhino 6 ?

I have followed the instructions from the wiki (`.gha` and `.dll` files in `library `folder + open Rhino as administrator) but:

- no dialogue box appears when opening Grasshopper
- _GH_CPython_ component doesn't appear in _Maths>Scripts_ either.

The only dialogue box that I have is when I double

[2019-10-26 23:29] solub commented on #35
Apologies, I just found that I needed to unblock the components (`.gha` + `.dll`) from the document properties.
I now have another problem, the component doesn't seem to work. In administrator mode I dropped  GH_CPython on the canvas, went to the menu `Python>Choose Interpreter` and specified the path to my Python interpreter.

I notice 2 things:
- no matter what I do, the welcome message "Hi [myn

[2019-10-29 00:19] solub commented on #35
Upon fiddling with the component I realized that another component had to be plugged-in first (in input) before running a script. It is probably a bug but at least it works.

Another problem that I have now is when I want to loop a script (for an animation) with a timer. With the bundled GhPython component you can set a variable to a specific value and then increment it with a timer (component) li

[2019-10-30 04:48] MahmoudAbdelRahman commented on #35
Hi @solub,
Sorry, it doesn't support this feature, because the component is re-run each time the inputs changed.
The only solution in my mind now is to save the global variable in a file outside and each time, the file is updated and read.
Another solution would be to save the variable in a specific address in memory and each time you update and read the data from this address.
https://stackoverfl

[2019-10-30 04:51] MahmoudAbdelRahman commented on #34
Hi @Piebekoster,
GhCpython, doesn't recognize Pandas df object, however, you can output the df as a Json `df.to_json()`
and dumps it as a string `json.dumps(df.to_json())`

[2019-10-30 04:54] MahmoudAbdelRahman commented on #33
I suggest that you intercange numpy matrices between different components using `numpy.dumps(the_np_array)` and read it from the other component as `numpy.loads(the_dumps_array)`

https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.ndarray.dumps.html

[2019-10-30 04:56] MahmoudAbdelRahman commented on #32
Hi @Aban6,
You need to specify the location of the interpreter first (make sure you choose the anaconda address), as follows:
![](https://user-images.githubusercontent.com/6969514/29310266-55758290-81ad-11e7-80cd-5b3dcde4d66a.jpg)
or goto `python > interpreter ..`

[2019-11-05 16:00] buka71 opened #36 "Default values for inputs"
What a great plugin!
I was wondering though if there is a way of setting the default values for the inputs?
Many thanks,
N/

[2019-11-14 02:49] MahmoudAbdelRahman commented on #36
Hi @buka71,
You can set them inside the python code, once you initiate the component, you might need to delete the default input `_input` and add other inputs e.g. `x, y, width, ... `.

[2019-11-14 02:49] #35 closed

[2019-11-14 02:50] #19 closed

[2019-11-14 09:54] buka71 commented on #36
Hi yes, but if I set their initial values of the inputs with the body, the input from the components that attach to them gets overwritten. If I have _x as a variable within the list of my inputs and I set _x = 5, the value that gets connected to the _x gets overwritten (If I don't, the input behaves as expected, i.e. inherits whatever I connect to it). I was wondering if there is a way of setting

[2019-11-23 14:43] o-kei opened #37 "Null input error occurs when input's data access is List or Tree"
Hello,

I would like to input list data that includes <null> to GH_CPython,  but an error occurs when <null>data is input as List or Tree data access, though no error occurs as Item data access.
I attach a screenshot of this error as follows
https://www.dropbox.com/s/5b8plu8ve52ze0v/ghcnullinput.JPG?dl=0

thanks,
kei

[2019-11-27 22:01] cadop opened #38 "Difference with ghpythonremote"
Is there any information on the difference with https://github.com/Digital-Structures/ghpythonremote ? Could this comparison be added to the wiki?

[2019-12-30 04:04] miraclema999 commented on #31
I have the same bug and after I restart rhino and gh, it disappear. With poor python experience, I can't figure out why, in the folder there isn't any  aforementioned 'PythonFileWritten_1.py'.  @hat600 have you got some solution?

[2020-01-04 11:38] protactinium91 commented on #38
First thing: GHPython Remote Requires a Python 2.7 installation, not compatible with Python 3 while GH_CPYTHON runs on Python 3

[2020-01-04 11:40] protactinium91 opened #39 "Importing the numpy c-extensions failed"
Importing the numpy c-extensions failed.
Strangely this works on my laptop, but on the PC I cannot solve this.
I have anaconda python 3.6 installed with all the modules. These work in Jupyter Notebook for example, but not in GH.

[code]

[2020-01-05 10:47] protactinium91 commented on #39
Closing, as uninstalling and isntalling again the numpy package solved the issue

[2020-01-05 10:47] #39 closed

[2020-02-27 18:09] kastnerp commented on #39
I am facing the same problem with Python 3.6. Could you tell me what exactly you were doing to fix this? Reinstalling with "--force" didn't help in my case.

[2020-03-02 16:55] kastnerp opened #40 "Issues with Anaconda environment as python interpreter"
Hi,

Thanks for the great work on this! It seems to me that it should be possible to use this with Anaconda, however, when I set a custom interpreter and try to import numpy, I receive this error:

[code]

(Please note that I replaced my user directory in the paste above)

Opening the environment in a CLI and importing numpy from there works without any problems.
One user reported #39 that reinsta

[2020-03-13 11:26] dt-js commented on #40
Hi,

I just had this issue and I found advice here:
https://github.com/numpy/numpy/issues/14675

So basically in my code, I added:
[code]

Best,

Justyna

[2020-03-13 18:18] kastnerp commented on #40
That worked, thanks!

[2020-03-13 18:18] #40 closed

[2020-04-28 11:25] tildekarthik commented on #40
This worked for me too.

[2020-05-18 04:12] MahmoudAbdelRahman commented on #38
Thank you @cadop,
Great suggestion.
I'll add the comparison in the wiki later. I'll also devote some time to push the plugin further.

Regards.

[2020-05-22 16:00] hat600 commented on #31
it seems that python 3 do not have this problem.

[2020-05-22 22:14] #38 closed

[2020-06-17 14:00] loooo94 opened #41 "Python (SPYDER) Import modules"
Hi, I've just tried  to import numpy or matplotlib in grasshopper with GH_CPython.
I have Spyder 3 (ANACONDA), Python standalone, Microsoft Visual studio.
My operating system is Windows 10.

It gives me a long errors messages and gives me some advise like:

1. D:\anaconda3\lib\site-packages\numpy\__init__.py:140: UserWarning: mkl-service package failed to import, therefore Intel(R) MKL initializat

[2020-06-17 14:39] MahmoudAbdelRahman commented on #41
Hi @loooo94 ,
Are you able to import bumpy and matplotlib using `D:\anaconda3\Python.exe` ?

[2020-06-17 20:53] loooo94 commented on #41
Yes I use it in Anaconda3.
Maybe should be this: mkl-service but I don't understand where I need to check for this.

[2020-06-30 03:27] miraclema999 commented on #31
I think I find why. The .gh file is in a folder that has Non-ASCII character, so in the *\PythonFileWritten_1.py there is a line containing this folder name. When I put the .gh file to another folder, it fixed. This issue does not happen every time, I don't know why. Hopefully can help others.

[2020-09-02 19:10] mrtnbrst commented on #36
Empty inputs are set to `None`, so for an optional parameter x with a default value of 5 you could write something like:
[code]

[2020-10-07 05:55] hopezh opened #44 "SyntaxError: Missing parentheses in call to 'print'. Did you mean print(allLines[5])?"
I got the following error following the simple demo code in GH_CPython component. May I ask why this error is related to the print function which I didn't use at all?

[code]

The code is here:

[code]

[2020-10-08 19:55] Gaspard-Bourgeois commented on #30
I have exactly the same problem the manage data is empty.

Also I don't know how to change string output to float, my numbers are in numpy inside my function and by the way numpy.dumps is not working.

Thanks

[2020-10-24 10:20] fracarl opened #45 "Problem with GH_CPython and Eppy run command"
Good morning,
I wrote a code to run energy analysis from Python 3.8 in Spyder (Anaconda3) and it works. In a few words, my code modifies the idf file (the file used for the energy analysis) and then launches the analysis in an external software (EnergyPlus). I was trying to use this code in grasshopper using GH_CPython code (with this path C:\Users\Pc\anaconda3\python.exe) but I'm facing different

[2020-10-26 14:33] fracarl commented on #45
I have solved the error due to numpy and now the the traceback is the following

Traceback (most recent call last):
  File "C:\GH_CPython\PythonFileWritten_1.py", line 28, in <module>
    idf.run(readvars=True, expandobjects=True,output_directory=os.path.join(folderpath,"Output"))
  File "C:\Users\Pc\anaconda3\envs\rhinoremote\lib\site-packages\eppy\modeleditor.py", line 1009, in run
    self.save

[2021-01-07 14:07] EugenyM opened #46 "Outdated compiled files in zip"
Hello,
Could you please reupload a new zip file here and to food4rhino as the ones that are published still have at least one issue that you have resolved in the source files.
Specifically I am talking about this one - #44 , as I have encoutared it too and corrected my local C:/GH_CPython/Grasshopper.py myself. When I checked it here - I found that you had already made the change in the source fil

[2021-10-19 22:39] mordor3 opened #47 "Tried to follow a tutorial on youtube for recursive geometry - copied the script but doesn't work in Rhino 7"
![help1](https://user-images.githubusercontent.com/92829413/138000143-c3d47cc3-16bd-4518-b20d-6824b0fabdc7.JPG)
![help2](https://user-images.githubusercontent.com/92829413/138000230-71a72423-2d00-4206-beb7-f04af9c8eff3.JPG)
![help3](https://user-images.githubusercontent.com/92829413/138000323-9c5b883d-6e52-42c1-aadc-572927d0c8ae.JPG)

[2021-11-10 20:54] chirth commented on #41
Hi, is this resolved yet?
I had a similar problem when trying to use the interpreter from a conda environment. Seems like the environment's interpreter was used but outside the environment.

Is there a way to run GH_CPython within a specific environment?

[2021-11-19 01:42] mkamitakahara opened #48 "GH_CPython not working"
Hi Mahmoud

I installed gh_cpython according to the wiki and connected with python3.6 but it doesn't work. I would appreciate it if you could tell me the solution. Thank you.

![スクリーンショット 2021-11-19 101943](https://user-images.githubusercontent.com/94658825/142546962-37265b85-184c-48a0-8e92-19be2aaac4f3.png)
![スクリーンショット 2021-11-19 102243](https://user-images.githubusercontent.com/94658825/14254698

[2022-05-03 18:11] kastnerp commented on #32
This worked for me: https://github.com/MahmoudAbdelRahman/GH_CPython/issues/40

[2022-07-21 14:43] atomczak opened #49 "Drag&drop icon feature not working"
In the wiki it says you can change node's icon by drag&dropping 24x24px PNG file. I tried but it doesn't change. Does that feature work in Rhino7?